.search-container {
  margin-top: 7rem;
}

.search-container form fieldset {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  font-weight: 500;
  margin: 1rem auto 0;
  max-width: 450px;
  padding: 1rem;
  width: 80vw;
}

.search-container form fieldset input {
  background-color: var(--complementary-color);
  border: none;
  border-radius: 5px;
  color: var(--tertiary-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.search-container form fieldset input:focus {
  background-color: var(--primary-color);
  outline: none;
}

.search-container form fieldset button {
  background-color: var(--primary-color-variant);
  border: none;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  color: var(--tertiary-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 450px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.search-container form fieldset button:hover {
  background-color: var(--primary-color);
  box-shadow: 0.5rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
  color: var(--tertiary-color);
  transform: translateY(-3px);
}
